/*
body {
  background-color: #D70F41;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
  margin: 0;
}
*/


body {
  /*background-color: #D70F41;
  */
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.top_bar {
  background-color: #328dbb;
  padding: 10px;
}

.top_title {
    color: #FEFEFE;
    text-align: center;
}

.top_links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.top_link_a {
  color: lightgray;
}

.center_text {
  text-align: center;
}

/*
* Corner
*/
.container_extra {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 25px;
}

.container_extra2 {
  border-radius: 25px;
  padding: 20px;
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg_color_tn_blue {
  /*background-color: #2cc9c9;
  */
    --tw-bg-opacity: 1;
    background-color: rgb(27 54 93 / var(--tw-bg-opacity));
}

.bg_color_tn_red {
  background-color: #b82d50;
}

.bg_color_white {
  background-color: #FFFFFF
}

.color_tn_blue {
  color: #15181d;
}

.color_tn_red {
  color: #D70F41;
}

.color_white {
  color: #FFFFFF
}

.color_gold {
  color: gold;
}

/* color_tn_red
*/

.padding_left_12 {
  padding-left: 12px;
}

.navbar-brand:hover, .navbar-collapse:hover, .nav-item:hover, .nav-link:hover,
.dropdown-toggle:hover, .navbar-toggler-icon:hover, .dropdown-toggle:active, .show, .dropdown-menu, .nav-link:focus{
  color: gold !important
}

.navbar-toggler-icon, .navbar-toggler {
  color: #FFFFFF !important
}

