body {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.top_bar {
  background-color: #053150;
}

.top_title {
    text-align: center;
}

.top_links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content {
  background-color: white;
}