<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Animal Reports </h1>
{% if reports %}
    <table>
        <tr>
            <th>Species</th>
            <th>Animal</th>
            <th>Area</th>
            <th>Count</th>
            <th>Date</th>
        </tr>
    {% for r in reports %}
        <tr>
            <td>{{ r.animal.species.name }}</td>
            <td>{{ r.animal.name }}</td>
            <td>{{ r.area.name }}</td>
            <td>{{ r.count }}</td>
            <td>{{ r.date }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No reports are available.</p>
{% endif %}
</body>
</html>
