<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dataportal/style.css' %}">
    <title>HCD DataPortal</title>
</head>
<body>

    {% if user.is_authenticated %}
    <div id="top_bar" class="top_bar">
        <div class="top_title">
            <h2>Hamilton Country Improved Health Dashboard - Data Portal</h2>
        </div>
        <div class="top_links">
            <a href="/dataportal" class="top_link_a">Home</a>
            <a href="/dataportal/disease_category" class="top_link_a">Disease Categories</a>
            <a href="/dataportal/disease" class="top_link_a">Diseases</a>
            <a href="/dataportal/case_report" class="top_link_a">Case Reports</a>
            <a href="/dataportal/hospitalized_report" class="top_link_a">Hospitalized Reports</a>
            <a href="/dataportal/icu_report" class="top_link_a">ICU Reports</a>
            <a href="/dataportal/death_report" class="top_link_a">Death Reports</a>
            <a href="/dataportal/vaccination_report" class="top_link_a">Vaccination Reports</a>
        </div>

        <div>
            <ul>
                <li>User: {{ user.get_username }}</li>
                <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
                </form>
                </li>
                </ul>
        </div>
    </div>

    {% else %}
    {% endif %}

    <div id="content" class="content">
        {% block content %}{% endblock content %}
    </div>

</body>
</html>

