{% extends "dataportal/base.html" %}

{% block content %}

<div class="center_text">
    <h3>Welcome to the Improved Hamilton County Health Dashboard Data Portal</h3>
    <br>

    <ul class="list-unstyled">
    <li><strong>Introduction</strong></li>
    <li>CPSC 4910 UTC Spring 2024 Capstone Project - Group 2</li>
    <li>This web application serves as supporting infrastructure for our health dashboard, holding and managing the data which it consumes</li>
    <li>It is not meant to be public facing and wasn't the main priority of our project, but it plays an important role and was fun to develop</li>
    <li>Full CRUD capability is present in this web portal, but most of our mock data was inserted through client-side scripts</li>
    <li><a href="https://hcdfrontend.fly.dev/">Our Public Facing Dashboard</a></li>
    </ul>

    <ul class="list-unstyled">
    <li><strong>Data Organization</strong></li>
    <li>Disease Categories - group diseases at a high-level</li>
    <li>Diseases - individual diseases which belong to a single category</li>
    <li>Status Reports - five types, applicable to a single disease during a set time interval</li>
    </ul>

    <ul class="list-unstyled">
    <li><strong>Status Reports</strong></li>
    <li>Case Reports - generic case count and demographic information</li>
    <li>Hospitalized Reports - applies to hospitalized inpatients, those under observation, and those in the ICU</li>
    <li>Death Reports - number of deaths attributed to a disease for some interval</li>
    </ul>

    <ul class="list-unstyled">
    <li><strong>API</strong></li>
    <li>Interaction with this portal requires authentication, but we expose a public API for use by our dashboard</li>
    <li>Access API at https://hcdbackend.fly.dev/dataportal/_query2</li>
    <li>URL Args: type, disease, disease_category</li>
    <li>type: disease_category, disease, case_report, death_report, hospitalized_report</li>
    <li>disease_category: Pass to filter a report type by a disease category (use disease category.name)</li>
    <li>disease: Pass to filter by a specific disease (use disease.name)</li>
    </ul>

    <ul class="list-unstyled">
    <li><strong>Group Members</strong></li>
    <li>Lindsay Easterwood</li>
    <li>Gabrielle Beckett</li>
    <li>Victoria Martino</li>
    <li>Brady Moore</li>
    <li>Cody Major</li>
    <li>Cody Whitt</li>
    </ul>

</div>

{% endblock %}