asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
Django==5.0.1
django-bootstrap5==23.4
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-tables2==2.7.0
gunicorn==21.2.0
idna==3.6
packaging==23.2
psycopg2==2.9.9
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.0
whitenoise==6.6.0

# installed Collecting faker
# ^ downloading Faker-23.2.1-py3-none-any.whl
# installed Collecting python-dateutil>=2.4
  # ^ Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
# installed Collecting six>=1.5
 # ^Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)