body {
  background-color: #B0EADE;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.top_bar {
  background-color: #396880;
  padding: 10px;
}

.top_title {
    color: #FEFEFE;
    text-align: center;
}

.top_links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.top_link_a {
  color: lightgray;
}

.center_text {
  text-align: center;
}

.content {
  background-color: white;
}
